# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.NumberOfGoodWaysToSplitAString.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\leet-code-problems\NumberOfGoodWaysToSplitAString\.idea\.idea.NumberOfGoodWaysToSplitAString\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
